<section
  class="relative bg-cover bg-center h-screen flex flex-col justify-center px-10 text-white"
  style="background-image: url('assets/hero-bg.png')"
>
  <div class="absolute inset-0 bg-blue-950 bg-opacity-80"></div>

  <div class="relative z-10 max-w-4xl px-4 sm:px-6 lg:px-8">
    <h1 class="text-5xl font-extrabold leading-tight mb-5">
      Membentuk Generasi Profesional<br />
      Unggul Dengan Kualitas<br />
      Praktik Terbaik
    </h1>

    <p class="text-lg text-gray-200 mb-6">
      Politeknik Negeri Malang Menggabungkan Pembelajaran Praktis Dengan Riset
      Terapan, Memberikan Pengalaman Yang Mempersiapkan Mahasiswa Untuk
      Menghadapi Tantangan Dunia Kerja Dengan Percaya Diri Dan Kompeten.
    </p>

    <button
      class="bg-orange-500 hover:bg-orange-600 text-white px-6 py-3 rounded-lg"
    >
      Selengkapnya
    </button>
  </div>
</section>
