<section
  class="relative bg-cover bg-center h-screen flex flex-col justify-center px-10 text-[#EBF3F4] bg-[#0F2C56]/80 bg-blend-multiply"
  style="background-image: url('assets/hero-bg.png')"
>
  <div id="hero" class="relative z-10 max-w-4xl px-4 sm:px-6 lg:px-8">
    <h1 class="text-5xl font-extrabold tracking-tight leading-tight mb-5 font-biryani text-shadow: 0 0 1px rgba(0,0,0,0.25)">
      Membentuk Generasi 
      <span class="relative inline-block"
      >
      <span class="relative z-10">Profesional</span>  <br />
       <span class="absolute left-0.5 bottom-4 w-full h-1.5 bg-[#FF7F11] z-0"></span>
    </span>
      Unggul Dengan Kualitas<br />
      Praktik Terbaik
    </h1>

    <p class="text-lg font-semibold  text-white opacity-75 mb-6">
      Politeknik Negeri Malang Menggabungkan Pembelajaran Praktis Dengan Riset <br>
      Terapan, Memberikan Pengalaman Yang Mempersiapkan Mahasiswa Untuk <br>
      Menghadapi Tantangan Dunia Kerja Dengan Percaya Diri Dan Kompeten.
    </p>

    <button
      class="px-5 py-2 font-inter text-[#E8F1F2] font-bold bg-[#FF7F11] hover:bg-[#e57310]
         rounded-md transition-all duration-150 mt-5"
    >
      Selengkapnya
    </button>
  </div>
</section>
