<section
  class="relative bg-cover bg-center h-screen flex flex-col justify-center px-10 text-white bg-[#0F2C56]/80 bg-blend-multiply"
  style="background-image: url('assets/hero-bg.png')"
>
  <div class="relative z-10 max-w-4xl px-4 sm:px-6 lg:px-8">
    <h1 class="text-5xl font-extrabold tracking-tight leading-tight mb-5 font-biryani text-shadow: 0 0 1px rgba(0,0,0,0.25)">
      Membentuk Generasi Profesional<br />
      Unggul Dengan Kualitas<br />
      Praktik Terbaik
    </h1>

    <p class="text-lg text-gray-200 mb-6">
      Politeknik Negeri Malang Menggabungkan Pembelajaran Praktis Dengan Riset
      Terapan, Memberikan Pengalaman Yang Mempersiapkan Mahasiswa Untuk
      Menghadapi Tantangan Dunia Kerja Dengan Percaya Diri Dan Kompeten.
    </p>

    <button
      class="px-5 py-2 font-inter font-medium bg-orange-500 hover:bg-orange-600 
         rounded-md transition-all duration-150"
    >
      Selengkapnya
    </button>
  </div>
</section>
